Tests: stretch
Depends: ca-certificates,
         debootstrap,
         debuerreotype,
         diffoscope,
         gnupg,
         wget,
         xz-utils
Restrictions: allow-stderr, needs-root
#Architecture: amd64, arm64
